

.container {
  width: 100%;
  padding-top: 44px;
}

.bk-list .list-item {
  position: relative;
  height: 150px;
  border-bottom: 1px solid #999;
}

.bk-list .list-item .item-lk {
  display: block;
  height: 100%;
}

.list-item .bk-pic {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  padding: 10px;
}
.list-item .bk-info {
  margin-left: 118px;
  height: 100%;
  color: #424242;
}
.bk-info .intro {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}

.bk-info h2,
.bk-info p {
  margin-top: 10px;
}

.s-top-btn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background: url(../img/rocket.png) no-repeat 0 0/100% 100%;
  opacity: .6;
  border-radius: 50%;
}
.s-top-btn:hover {
  opacity: 1;
}